.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login h1 {
  text-align: center;
}
.form {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.error {
  text-align: center;
  color: red;
  font-size: 30;
  background: rgb(250, 158, 158);
  height: 40px;
  padding-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
}
